/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

header {
    margin-bottom: 20px;
}

header .navbar {
    padding: 1rem;
    background-color: #343a40;
}

header .navbar-nav .nav-link {
    margin-right: 15px;
}

header .navbar-nav .nav-link.active {
    font-weight: bold;
}

header .navbar-nav .nav-link:hover {
    color: #adb5bd;
}

main {
    padding: 20px;
}

#search-section {
    margin-bottom: 20px;
}

#search-section h2 {
    font-size: 2rem;
    color: #343a40;
    margin-bottom: 15px;
}

#input-search {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

#input-search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#input-search-button:hover {
    background-color: #0056b3;
}

#search-by-location,
#search-by-type {
    margin-right: 20px;
}

#search-options {
    margin-top: 20px;
}

#search-label {
    margin-right: 10px;
}

#search-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

/* style.css */

#results-section {
    margin-top: 20px;
}

#my-parks {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); /* Changed from auto-fill to fixed 4 columns */
    gap: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    border-top: 1px solid #dee2e6;
}

footer .container {
    max-width: 960px;
    margin: 0 auto;
}

footer p {
    color: #6c757d;
}

footer .form-outline {
    margin-bottom: 15px;
}

footer .form-outline .form-label {
    color: #6c757d;
}

footer .form-outline .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

footer .form-outline .form-control:focus {
    border-color: #495057;
    box-shadow: none;
}
